<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <div class="error"> <%= flash.notice %></div>

  <h1>Login</h1>
    <%= form_tag '/login' do %>
      <%= label_tag :username, "Username" %>
      <%= text_field_tag :username %>
      <%= label_tag :email, "Email" %>
      <%= text_field_tag :email%>
      <%= label_tag :password, "Password" %>
      <%= password_field_tag :password %>
      <%= submit_tag 'Login' %>
    <% end %>

</head>
<body>

</body>
</html>
