<h1>Edit a Note</h1>

<%= form_for @note do |f|%>
  <%=f.label :content%>
  <%=f.text_area :content%><br>
  <%=f.label :project%>
  <%=f.collection_select :project_id, current_user.projects, :id, :name %><br>
  <%=f.submit "Update Note"%>
  <% end %>
<br>
  <%=form_tag @note, method: "DELETE" do %>
    <%=submit_tag "Delete Note" %>
  <% end %>
