<h1><%= current_user.name.capitalize%>'s Notes</h1>
<h2>These are all of your notes:</h2>
<ul>
<% if !@notes.empty? %>
  <% names = []%>
    <% @notes.each do |note| %>
      <% if !names.include?(note.project.name)%>
        <h3>For <%= note.project.name %>:</h3>
        <% names << note.project.name %>
      <% end %>
        <ul>
          <li>"<%=note.content%>"</li>
          <ul>
            <li><%= link_to "Edit Note", edit_note_path(note)%></li>
          </ul>
        </ul>
    <% end %>
  <% end %>
</ul><br>

<%= link_to "Add a Note", new_note_path %><br>

<br>
<br>
<%= link_to "Home", users_path%>     <%= link_to "Return to Project Page", projects_path %>
 <%= link_to "Logout", "/logout", method: "DELETE"%>
