<h1>Edit Task</h1>

<%= render partial: "tasks_form", locals: {submit_text: "Update Task"}%>

  <%=form_tag [@project, @task], method: "DELETE" do %>
    <%=submit_tag "Delete this Task" %>
  <% end %>

  <br>
  <br>
    <%= link_to "Home", users_path%>     <%= link_to "Return to Project Page", projects_path %>
     <%= link_to "Logout", "/logout", method: "DELETE"%>
