<h1>Hello <%=current_user.name.capitalize %>!</h1>
<h2>These are all of your tasks:</h2>
<ul>
  <% if !@tasks.empty? %>
  <% names = []%>
    <% @tasks.each do |task| %>
      <% if !names.include?(task.project.name)%>
        <h3>For <%= task.project.name %>:</h3>
        <% names << task.project.name %>
      <% end %>
        <ul>
          <li><%=link_to task.name, project_task_path(task.project.id, task.id)%></li>
        <ul>
          <li><%= link_to "Edit Task", edit_project_task_path(task.project.id, task.id)%></li>
        </ul>
      </ul>
    <% end %>
  <% end %>
</ul><br>

<%= link_to "Create New Task", new_project_task_path(@project.id) %><br>

<br>
<br>
<%= link_to "Home", users_path%>  <%= link_to "Return to Project Page", projects_path %>
<%= link_to "Logout", "/logout", method: "DELETE"%>
