<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Projects</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Lato:400,700|Montserrat:400,700|Roboto:400,700" rel="stylesheet">
  
</head>

<body class="dashboard-body">
  <section id="sideMenu">
    <h2>WePlan</h2>
    <nav>
      <a href="/users" class="active"><i class="fas fa-home"></i>Home</a>
      <a href="/projects"><i class="fas fa-paperclip"></i></i>Projects</a>
      <a href="/projects/new"><i class="fas fa-sticky-note"></i>Create a Project</a>
    </nav>
  </section>

  <header>
    <div class="search-area">
      <i class="fas fa-search"></i>
    <input type="text" name="" value="">
    </div>
    <div class="user-area">
      <%= link_to "Logout", "/logout", method: "DELETE"%>
      <a href="/root">Home</a>
    </div>
  </header>

  <section id="content-area">
    <div class="greeting-row">
       <div class="greeting">
        <h1>Hello <%= current_user.name.capitalize%>!</h1>
        <h2>Welcome to your Project Planner</h2>
      </div>
      <div class="time-box">
        <h3><%= Time.now.strftime("%A, %B %d, %Y") %></h3>
      </div>
    </div>
  </section>

  <div class="project-status-list">
    <div class="project-status-box not-started status-inner">
    <h4 class="project-title"><%=link_to "Not Started", project_filter_path("Not Started") %></h4>
      <div class="status-content">
        <p>You have <%=current_user.projects_not_started_count %> project(s) that have not been started.</p>
      </div>
    </div>
    <div class="project-status-box in-progress status-inner" >
    <h4 class="project-title in-progress"><%=link_to "In Progress", project_filter_path("In Progress") %></h4>
      <div class="status-content">
        <p>You have <%=current_user.projects_in_progress_count %> project(s) that are in progress.</p>
      </div>
    </div>
    <div class="project-status-box complete status-inner">
     <h4 class="project-title"><%=link_to "Completed", project_filter_path("Completed") %></h4>
       <div class="status-content">
        <p>You have <%=current_user.completed_projects_count %> completed project(s).</p>
      </div>
    </div>
  </div>







  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
