<h1>Add Collaborator</h1>

<%= form_for [@project, @collaborator] do |f| %>
   <% if @collaborator.errors.any? %>
    <% @collaborator.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
  <%= f.label "Project Collaborator" %>
  <%= f.collection_select :user_id, User.all, :id, :name, prompt: true %>
  <%= f.submit "Add Collaborator" %>

<% end %>
