<div class="title">
<h1><%=@project.name%></h1>
</div><br>

<div class="description">
  <h2>Description:</h2>
  <p><%= @project.description %></p>
</div><br>

<div class="headers">
  <li>Status: <%=@project.status%></li>
  <li>Due Date: <%=@project.due_date%></li>
</div>

<div class="collaborator">
  <h3><%= link_to "Add Collaborator", "/collaborators/new/#{@project.id}" %></h3>


  <ul>
    <% @project.collaborators.each do |c| %>
    <li> <%= link_to c.user.name, collaborator_path(c) %>
    <% end %>
  </ul>

</div>

<div class="tasks">
  <ul>
    <h2>Tasks:</h2>
    <%= link_to "Create Task", new_task_path %>
    <br>
    <br>
    <% @project.tasks.each do |task|%>
    <li>Name: <%= link_to task.name, task_path(task) %></li>
    <ul>
      <li>Status: <%= task.status %></li>
      <li>Due Date: <%= task.due_date %></li>
    </ul>
    <% end %>
  </ul>
</div><br>

<div class="notes">
  <ul>
    <h3>Notes:</h3>
    <%= link_to "Add a Note", new_note_path %>
    <br></br>
    <ul>
      <% @project.notes.each do |note| %>
      <li>"<%= note.content %>" ~ posted by: <%= note.user.name %> <%= link_to "Edit Note", edit_note_path(note)%></li><br>
      <% end %>
    </ul>
  </ul>
</div>

<div class="navigate">
  <br>
  <br>
    <%= link_to "Home", users_path%>     <%= link_to "Return to Project Page", projects_path %>
     <%= link_to "Logout", "/logout", method: "DELETE"%>
</div>
