

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Lato:400,700|Montserrat:400,700|Roboto:400,700" rel="stylesheet">
  <title>Project</title>
</head>
<body class="show-project-page">
  <section id="sideMenu">
    <h2>WePlan</h2>
    <nav>
      <a href="/projects"><i class="fas fa-home"></i>Projects</a>
      <a href="/projects/<%= @project.id %>/edit"><i class="fas fa-paperclip"></i></i>Edit Project</a>
      <a href="/projects/<%= @project.id %>/tasks/new"><i class="fas fa-paperclip"></i></i>Create Task</a>
      <a href="/projects/<%= @project.id %>/notes/new"><i class="fas fa-sticky-note"></i>Create Note</a>
      <a href="/projects/<%= @project.id %>/collaborators/new"><i class="fas fa-sticky-note"></i>Add Collaborator</a>
    </nav>
  </section>

  <header>
    <div class="search-area">
      <i class="fas fa-search"></i>
    <input type="text" name="" value="">
    </div>
    <div class="user-area">
      <%= link_to "Logout", "/logout", method: "DELETE"%>
      <a href="/root">Home</a>
    </div>
  </header>

  <div class="user-project">
    <div class="inner-project-box">
      <div class="title">
        <h1><%=@project.capitalize_stuff %></h1>
      </div>
      <div class="description">
        <h2>Description:</h2>
        <p class="description-content"><%= @project.description %></p>
      </div>
      
    </div>
    
    <div class="project-time">
      <li>Status: <%=@project.status%></li>
      <li>Due Date: <%=@project.format_due_date%></li>
      <div class="collaborators">
        <h3>Collaborators:</h3>
        <ul>
          <% @project.collaborators.each do |c| %>
            <% if c.user != current_user%>
              <li>
                <p class="c-user"><%= link_to c.user.capitalize_stuff, project_collaborator_path(@project.id, c.id), :class => "purple-link"%></p> 
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="task-note-wrapper">
    <div class="tasks">
      <h3>Tasks:</h3>
      <ul class="inner-task">
        <% @project.tasks.each do |task|%>
       
          <li><%= link_to task.capitalize_stuff, project_task_path(@project.id, task.id), :class => "purple-link"%><a href="<%= edit_project_task_path(@project.id)%>"></i>(Edit Task)</a></li>
          
          <ul>
          <li>Status: <%= task.status %></li>
          <li>Due Date: <%= task.format_due_date %></li>
          </ul>
        <% end %>
      </ul>
    </div>
    <div class="notes">
      <h3>Notes:</h3>
      <ul>
        <% @project.notes.each do |note| %>
          <li><%= note.content %>" ~ posted by: <%= note.user.capitalize_stuff %>
          <%= link_to "(Edit Note)", edit_project_note_path(@project.id, note.id),:class => "purple-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>

 

  

  

</body>
</html>




















